.principalContainer {
  height: 100vh;
  background-color: black;
}
.principalNavbar {
  height: 10%;
}
@media all and (max-width: 767px) {
  .principalNavbar {
    height: 25%;
  }
}
.principalMovies {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  border-top: 2px solid red;
}
.singularMovie {
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}
.singularTitle {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.singularImg {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singularImg img {
  height: 100%;
}
@media all and (max-width: 300px) {
  .singularImg img {
    width: 80%;
  }
  .singularMovie a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.singularImg a {
  cursor: pointer;
}
.singularOptions {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singularOptions form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noHeartButton {
  height: 70%;
  width: 80%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;
}
.heartButton {
  height: 70%;
  width: 80%;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 14px;
}
.noHeartButton:hover {
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
}
.movieDataContainer {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
}
.movieDataNavbar {
  height: 10%;
}
.movieGeneralData {
  height: 90%;
  display: flex;
}
.moviePoster {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviePoster img {
  height: 90%;
}
.movieInfo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieTitle {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movieTitle h1 {
  font-size: 40px;
}
.movieTitle span {
  font-weight: 600;
  margin: 10px 0px;
  font-size: 20px;
}
.movieDescription {
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 21px;
  margin: 0px 200px;
}
.movieDetails {
  height: 20%;
  display: flex;
}
.movieDetails span {
  margin: 0px 10px;
  font-weight: 600;
}
